// 共通 
html {
  font-size: 62.5%;
}
body {
  font-family:  'Montserrat', YuGothic,'Yu Gothic',sans-serif;
  color: #222;
}
img {
  width: 100%;
}
.sm-title {
  font-size: 3.2rem;
  line-height: 1.21875;
  letter-spacing: .068em;
} 
.sm-text {
  font-size: 1.6rem;
  margin-top: 30px;
  line-height: 2.0;
  font-family: 'Noto Sans JP', sans-serif;
}
.sub-title {
  font-size: 2.4rem;
  margin-top: 30px;
  letter-spacing: .005em;
}
.bg-gray {
  background-color: #F0F0F0;
}
// ヘッダー
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__inner {
  display: flex;
  margin: 30px 4vw;
}
.logo__svg {
  width: calc(189px + ((1vw - 7.68px) * 10.5655));
}
.logo__svg.black path {
  fill: #333;
  transition: fill .3s;
}
.nav-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba($color: #222, $alpha: .95);
  width: 100vw;
  max-width: 520px;
  height: 100vh;
  z-index: 2;
}
.nav {
  margin: 180px auto auto auto;
  &__logo {
    width: 60px;
    margin: 0 auto;
  }
  &__list {
    margin-top: 40px;
    text-align: center;
  }
  &__item {
    margin-top: 30px;
  }
  &__link {
    color: #fff;
    font-size: 2.0rem;
    letter-spacing: .068em;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.burger-btn.black .bar{
  background-color: #333;
  transition: background-color .3s;
}
.burger-btn.black .menu{
  color: #333;
  transition: color .3s;
}
.burger-btn{
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.bar{
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}
.bar_top{
  transform: translateY(-4px);
  transition: transform .3s;
}
.bar_bottom{
  transform: translateY(4px);
  transition: transform .3s;
}
.burger-btn.close .bar_top{      
  transform: translateY(1px) rotate(30deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translateY(-3px) rotate(-30deg);      
transition: transform .3s;    
}
.burger-btn.close .bar {
  background-color: #fff;
}
.burger-btn.close .menu {
  color: #fff;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #222, $alpha: .6);
  z-index: -1;
}
.menu{
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}
// ファーストビュー
.fv {
  width: 100vw;
  height: calc(615px + ((1vw - 7.68px) * -22.4702));
  position: relative;
  background: linear-gradient(to right, #fff 0%, #fff 50%, #222 50%, #222 100%);

  &__img {
    width: 76.388%;
    height: calc(529px + ((1vw - 7.68px) * -21.131));
    background: url("../img/heading-img_contact.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
  }

  &__inner {
    position: absolute;
    top: 33.62%;
    right: 11.805%;
  }

  &__title {
    color: #fff;
    line-height: 1.4;
    font-size: calc(1.6rem + ((1vw - 7.68px) * 0.5952));
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    letter-spacing: .005em;
    strong {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: calc(5.6rem + ((1vw - 7.68px) * 2.381));;
      line-height: 1.2;
      letter-spacing: .063em;
    }
  }
}
.scroll-btn-wrapper {
  display: none;
  position: absolute;
  width: 179px;
  left: -15%;
  transform: rotate(-90deg);
}
.scroll-btn__text {
  color: #333;
  font-weight: 800;
  font-size: 1.2rem;
}
.scroll-btn__bar {
  width: 118px;
  display: inline-block;
  border-bottom: 1px solid #333;
  vertical-align: 3px;
  margin-left: 7.5px;
}
// CONTACT 
.contact-wrapper {
  width: 92vw;
  max-width: 700px;
  margin: 120px auto;
}
.contact__text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .004em;
  font-family: 'Noto Sans JP', sans-serif;
}
.form__item {
  margin-top: 45px;
}
.form__title {
  font-size: 1.6rem;
}
.mandatory-icon {
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  padding: 3px 5px;
  margin-left: 10px;
}
.radio-list {
  display: flex;
  flex-wrap: wrap;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.radio-item {
  margin-top: 20px;
  margin-right: 50px;
  & > label {
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
}
.radio__icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 20px;
  vertical-align: -5px;
  margin-right: 8px;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #333;
    // input[type=checkbox]がチェックされたとき
    input[type="radio"]:checked + label > & {
      opacity: 1;
    }
  }
}
input[type="text"],textarea {
  margin-top: 10px;
  width: 100%;
  font-size: 1.6rem;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #333;
}
.privasy-title {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: .004em;
  margin-top: 40px;
}
.privasy-text-wrapper {
  height: 252px;
  border: 1px solid #333;
  overflow-y: auto;
  margin-top: 10px;
}
.privasy-text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .004em;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px;
}
.confirm {
  margin-top: 45px;
  text-align: center;
  .sm-text {
    line-height: 1.5;
  }
}
.checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.my-checkbox__icon {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  vertical-align: -3px;
  margin-right: 8px;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    border: 1px solid #333;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    // input[type=checkbox]がチェックされたとき
    .checkbox:checked + & {
      border-color: #333;
      opacity: 0;
    }
  }

  &::after {
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    width: 100%;
    background-image: url(../img/icon_chek.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    // input[type=checkbox]がチェックされたとき
    .checkbox:checked + label > & {
      opacity: 1;
    }
  }
}
.submit-btn-wrapper {
  margin-top: 40px;
  display: grid;
  place-items: center;
}
.submit-btn {
  padding: 11px 66px;
  background-color: #000;
  border: none;
  color: #fff;
  &:hover, &:focus {
    background-color: rgba($color: #000, $alpha: .7);
  }
}
// FOOTER  
.footer {
  background-color: #525252;
  display: grid;
  place-items: center;
  height: 50px;
}
.copyright {
  color: #fff;
  font-size: 1.0rem;
  letter-spacing: .015em;
  font-weight: 600;
}
// PC 
@media screen and (min-width: 1440px) {
  .fv {
    height: 464px;
  }
  .fv__img {
    height: 387px;
  }
  .fv__txt {
    font-size: 2.0rem;
    strong {
      font-size: 7.2rem;
    }
  }
  .logo__svg {
    width: 260px;
  }
}
// タブレット
@media screen and (max-width: 768px) {
  .fv {
    height: calc(449px + ((1vw - 3.75px) * 42.2392));
  }
  .fv__img {
    height: calc(387px + ((1vw - 3.75px) * 36.1323));
  }
  .fv__txt {
    letter-spacing: .063em;
  }
  .fv__inner {
    top: 32.772%;
    right: 12.760%;
  }
  .logo__svg {
    width: 189px;
  }
  textarea {
    height: 180px;
  }
  .privasy-text-wrapper {
    height: 252px;
  }
}
// スマホ
@media screen and (max-width: 375px) {
  .fv {
    height: 365px;
  }
  .fv__img {
    height: 270px;
  }
  .fv__inner {
    top: 33.184%;
    right: 7.733%;
  }
  .scroll-btn-wrapper {
    display: block;
  }
  .contact-wrapper {
    margin: 80px auto;
  }
  .radio-list {
    display: block;
  }
  textarea {
    height: 210px;
  }
}